<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Agenda</a></li>
                    <li><a href="#">Tickets </a></li>
                    <li><a href="#">Contact </a></li>
                </ul>
            </nav>
        </div>
    </header>

    @RenderBody()

</body>
</html>

