################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SchoolTemplate/v16
/bin
/obj
/bin
/obj
