@model PersonModel
@{
    ViewData["Title"] = "Contact";

}
<h1> Contact</h1>

@if(ViewData["formsucces"] == "ök")
{
    <p>Gelukt! Bedankt voor het invullen!</p>
       
}


    <form method="post">
        <input type="text" name="voornaam" placeholder="Voornaam" /> <br/>
        <input type="text" name="achternaam" placeholder="Achternaam" /> <br />
        @Html.ValidationMessageFor(m => m.Achternaam) <br />
        <input type="text" name="email" placeholder="E-mail" /> <br />
        @Html.ValidationMessageFor(m => m.Email) <br />
        <input type="submit" value="Verstuur" />
    </form>
