@model SchoolTemplate.Database.Festival
@{ 
    ViewData["Title"] = "Festival";
}
<h1>@ViewData["id"]</h1>
<p>Alle festival gegevens</p>

@using SchoolTemplate.Database;

@{
  ViewData["Title"] = "Festival";
}
<h1>@Model.Naam</h1>
<p>@Model.Beschrijving</p>

<div class="text-center">
    <img src=" https://www.youredm.com/wp-content/uploads/2015/02/sunset-coachella-youredm.jpg" />
    <h1>Welcome to Breepark</h1>
    <img src="https://lh4.googleusercontent.com/fCw3kwEtEMYyvlf7UCrVxWWVeFcNyCMirbhwqYIcDi3m7P8Xn-csFtFsiWyNBqTbFgx88N8m-1fXXXM0Csz1KB22VutIOqtfbUDDQQkCmEFcIC09J2i-0sn-nZQi2AVMoaGY4eoi"  />
    <p>· Star festival tickets on sale · Star festival tickets on sale · Star festival tikets on sale · Star festival tikets on sale· Star festival tikets on sale· Star festival tikets on sale</p>
</div>