@using SchoolTemplate.Database;
@model List<Product>
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to Breepark</h1>
  
  <p> Star festival tickets on sale </p>
</div>
