@model List<SchoolTemplate.Database.Festival>
@{
    ViewData["Title"] = "Festival";
}
<h1>@ViewData["id"]</h1>
<p>Alle festival gegevens</p>

@using SchoolTemplate.Database;

@{
    ViewData["Title"] = "Home Page";
}

@foreach (Festival f in Model)
{
    <h1>@f.Naam</h1>
    <p>@f.Beschrijving</p>
}