header {
    Background: #55d6aa;
    Header:: after
    
}

.container {
    Width: 80%;
    Margin: 0 auto;
}

.logo {
    Float: left;
    Padding: 5px 0;
    

}

Nav {
    Float: right;
}


body {
    background-color: #F2916D;
    margin-left: 150px;
    margin-right: 150px;

}

Nav ul {
    Margin: 0;
    Padding: 0;
    List-style: none;
}

Nav li {
    Display: inline-block;
    Margin-left: 70px;
}

Nav a {
    Color: #444;
    Text-decoration: none;
    Text-transform: uppercase;
    Font-size: 14px;
}


h1{ 
    text-align: center;
    background-color: white;
    margin-top: 250px;
    font-size: 200px;
    margin-left: unset;
    margin-right:unset;
}                                                   